
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins",sans-serif;
}
.bg-color {
    background: radial-gradient(white,#ffd6d6);
    font-family: "Poppins",sans-serif;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #555;
}
/* rows */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}
.col-2 {
    flex-basis: 50%;
    max-width: 300px;
}
.col-2 img {
    width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding:8px 30px ;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover {
    background-color: #563434;
}
.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis : 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 25%;
    max-width: 200px;
    padding:10px ;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.title {
    position: relative;
    margin: 0 auto 80px ;
    text-align: center;
    color: #555;
    line-height: 60px;
}
.title::after {
    content: "";
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}
h4 {
    color: #555;
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
}
.rating .fa-solid {
    color: red;
}
.col-4:hover {
    transform: scale(1.1);
}
.offer {
    background: radial-gradient(white,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
/* testimonials */
.testimonials {
    margin: 100px auto;
}
.testimonials .col-3 {
    text-align: center;
    padding: 40px 20px ;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) ;
    transition: all 0.5s;
    border-radius: 10px;
}
.testimonials .col-3 img {
    border-radius: 50%;
    width: 50px;
    margin-top: 20px;
}
.testimonials .col-3:hover {
    transform: scale(1.1);
    background-color: lightcoral;
}
.testimonials .col-3 p {
    font-size: 12px;
    margin: 12px 0;
}
.testimonials .col-3 h3 {
    font-size: 16px;
    font-weight: 600;
}
/* brnds */
.brands {
    margin: 100px auto;
}
.col-5 {
    width: 160px;
}
.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover {
    filter: grayscale(0%);
}

/*footer */
.footer {
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px ;
}
.footer h3 {
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 25%;
}
.footer-col-2 {
    flex:1;
    text-align: center;
}
.footer-col-2 img  {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 ul li , .footer-col-4 ul li {
    list-style-type: none;
}
.app-logo {
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
hr {
    margin: 20px 0 ;
}
.copy {
    text-align: center;
}
.menu-icon {
    width: 30px;
    margin-left: 20px ;
    display: none;
}

@media only screen and (max-width:750px ) {
    nav ul {
        position: absolute;
        top: 70px;
        left:0 ;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: right
        50px;
        margin-top: 10px ;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}